
<div class='col-md-10 col-md-offset-1'>
  <div class="panel panel-default">
    <div class="panel-body">
    <h3>Business Details </h3>
    <hr>
      <%= simple_form_for [@taxpayer, @business], html: { class: 'form-horizontal' },
wrapper: :horizontal_form,
wrapper_mappings: {
check_boxes: :vertical_radio_and_checkboxes,
radio_buttons: :vertical_radio_and_checkboxes,
file: :horizontal_file_input,
boolean: :horizontal_boolean
} do |f| %>
<%=f.error_notification %>
          <div class="row">
            <div class="col-md-6">
              <%=f.input :business_name, autofocus: true  %>
               <%=f.input :type_of_organization, collection: Business.type_of_organizations.keys.to_a.map{ |a| [a.titleize, a] }  %>
              <%=f.input :asset_size, as: :string%>
              <% if @business.new_record? %>
              <%=f.input :capital_investment, as: :string %>
              <% end %>

              <%=f.input :no_of_employees, label: 'Number of Employees', as: :string %>
            </div>

            <div class="col-md-6">
               <%=f.input :industry_type, collection: Business.industry_types.keys.to_a.map{ |a| [a.titleize, a]}, label: 'Industry' %>
               <%=f.input :business_type, collection: Business.business_types.keys.to_a.map{ |a| [a.titleize, a]}, label: 'Type of Business' %>

              <%=f.input :application_date, as: :string, input_html: { class: "datepicker" }, default: Date.current, placeholder: 'dd/mm/yyyy' %>

              <%=f.input :dti_sec_reg_no, label: 'DTI/SEC Registration Number', as: :string %>
              <% if @business.persisted? %>
              <%=f.input :permit_number %>
              <% end %>
              <%=f.input :dti_sec_reg_date, as: :string, input_html: { class: "datepicker" },  placeholder: 'dd/mm/yyyy'  %>

            </div>
          </div>
 <h3>Address Details</h3>
<hr>
        <div class="row">
        <div class="col-md-6">
        <%=f.input :sitio, label: 'Sitio' %>
        <%=f.input :address_street, label: 'Street' %>
        <%=f.input :address_barangay, label: "Barangay "%>
        </div>
         <div class="col-md-6">

        <%=f.input :address_municipality, label: 'Municipality' %>
        <%=f.input :address_province, label: 'Province'  %>
        </div>
        </div>

        <%=f.input :rented, as: :boolean, inline_label: 'Renting' %>

          <%=f.input :franchised, as: :boolean, inline_label: 'Franchise.' %>

          <%=f.input :branch, as: :boolean, inline_label: 'Branch.' %>


        <div class="modal-footer">
        <% if @business.new_record? %>
        <%=f.button :submit, 'Register Business', class: 'btn btn-primary' %>
        <% else %>
         <%=f.button :submit, 'Update Business', class: 'btn btn-warning' %>
        <% end %>

    </div>
  </div>
</div>

        <% end %>
