<div class="container">

    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Business Details</div>
        <div class="panel-body">

          <%=simple_form_for @business do |f| %>
          <%=f.error_notification %>
          <div class="row">
            <div class="col-md-5">
              <%=f.input :business_name  %>
             </div>
             <div class="col-md-3">
               <%=f.association :type_of_organization %>
             </div>
             <div class="col-md-3">
              <%= f.association :line_of_businesses,
                  collection: LineOfBusiness.all,
                  include_blank: true,
                  input_html: { class: 'chosen-select form-control' } %>
              </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <%=f.input :asset_size%>
            </div>
            <div class="col-md-3">
              <%=f.input :workforce_size, label: 'DTI/SEC Registration Number' %>
            </div>
          <div class="row">
            <div class="col-md-3">
              <%=f.input :application_date, as: :string, input_html: { class: "datepicker" }, default: Date.current, placeholder: 'mm/dd/yyyy' %>
            </div>
            <div class="col-md-3">
              <%=f.input :dti_sec_reg_no, label: 'DTI/SEC Registration Number' %>
            </div>
            <div class="col-md-3">
              <%=f.input :dti_sec_reg_date, as: :string, input_html: { class: "datepicker" },  placeholder: 'mm/dd/yyyy'  %>
            </div>
          </div>
          <div class="row">
             <div class="col-md-3">
          <%=f.input :rented, as: :boolean, inline_label: 'Place of business is rented.' %>
          </div>
          <div class="col-md-3">
          <%=f.input :franchised, as: :boolean, inline_label: 'This is a franchise.' %>
          </div>
           <div class="col-md-3">
          <%=f.input :branch, as: :boolean, inline_label: 'This is a branch.' %>
          </div>
         </div><!--end of row -->
      </div><!--end of panel body-->
    </div><!--end od panel default -->
    </div><!--end of col-md-12 -->
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">Owner Details</div>
          <div class="panel-body">
            <%=f.simple_fields_for :owner do |o| %>
            <div class="col-md-3">
              <%=o.input :first_name %>
              </div>
              <div class="col-md-3">
              <%=o.input :middle_name %>
              </div>
              <div class="col-md-3">
              <%=o.input :last_name %>
              </div>
              <div class="col-md-3">
              </div>
              <div class="col-md-3">
              <%=o.input :suffix %>
              </div>
              <div class="col-md-3">
              <%=o.input :email %>
              </div>
              <div class="col-md-3">
              <%=o.input :mobile_number %>
              </div>
              <div class="col-md-3">
              <%=o.input :cedula_number %>
              </div>

              <div class="col-md-3">
              <%=o.input :tin_number %>
              </div>

            <% end %>
          </div>
        </div>
      </div>
</div>
<div class="row">
       <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">Documents Submitted</div>
          <div class="panel-body">
            <%=f.simple_fields_for :required_documents do |d| %>

               <%= f.association :required_documents,
                  collection: Document.all,
                  include_blank: true,
                  input_html: { class: 'chosen-select' } %>

            <% end %>
          </div>
        </div>
      </div>
</div>
<div class="modal-footer">
<% if @business.new_record? %>
      <%=f.submit 'Register Business', class: 'btn btn-primary'%>
      <% else %>
         <%=f.submit 'Register Business', class: 'btn btn-primary'%>
         <% end %>
         </div>
    <% end %>
  </div>
</div>
