<%provide(:title, "Revoked Business Permits") %>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
         <div class="box box-success">
                <div class="box-header with-border">
                <h3 class="box-title">Revoked Businesses</h3>
                  <div class="box-tools pull-right">
                    <span class="label label-danger"><%=@businesses.revoked.count %></span>
                  </div>




                   <div class="box-body no-padding">
            <div class="table-responsive">
              <table class="table table-hover table-condensed">
                <thead>
                  <tr>
                    <th> Business Name</th>
                    <th>Owner</th>
                    <th>Status</th>
                    <th>Date Revoked</th>
                    <th>Reason of Revocation</th>
                  </tr>
                </thead>
                <tbody>
                  <% @businesses.each do |business| %>
                    <tr>
                      <td><%=link_to truncate(business.business_name.upcase, length: 40), business, class: 'text-danger'%></td>
                      <td><%= link_to business.taxpayer_name, taxpayer_path(id: business.taxpayer.id), class: 'text-danger' %></td>
                      <td><%=business.status%></td>
                      <td><%=business.revoked_at %></td>
                      <td><%=business.reason_of_revocation %></td>
                    </tr>
                  <%end%>
                </tbody>
              </table>
              <div class="pagination">
            <%= will_paginate @businesses %>
              </div>
            </div>
           </div>
        </div>
      </div>
    </div>

