
<%provide(:title, "#{@business.business_name}") %>
<div class="container">
<ul class="nav nav-tabs" role="tablist">

  <li class="active"><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
  <li><a href="#payments" role="tab" data-toggle="tab">Payments</a></li>
  <li><a href="#settings" role="tab" data-toggle="tab"><span class="fa fa-cog"></span> Settings</a></li>
  <li><a href="#timeline" role="tab" data-toggle="tab"><span class="fa fa-time"></span> Timeline</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="profile">
    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <div class="panel">
            <h1 id="profile_name"><%=@business.business_name.upcase %></h1>
            <hr />
            <div class="well well-sm">
            <% if @business.registered? && current_user.system_administrator? && @business.line_of_businesses.present?%>
            <%=link_to ' Print Mayors Permit', business_path(@business, format: "pdf"), class: " btn btn-info fa fa-print" %>
            <% end %>
            <% if @business.line_of_businesses.blank? %>
            <%=link_to 'Add Line of Business', new_business_line_of_business_path(@business), class: "btn btn-default" %>
            <% else %>
              <%=link_to 'Edit Line of Business', edit_line_of_business_path(@business), class: "btn btn-default" %>
              <% end %>
            <% if @business.payment_pending? %>
            <%=link_to 'Pay Taxes', new_business_payment_path(@business), class: "btn btn-default" %>
            <% end %>
              <%=link_to 'Edit Business', edit_business_path(@business), class: "btn btn-default" %>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="panel panel-default">
            <div class="panel=heading">Business Details</div>
            <div class="panel-body">
              <tr>
              <td>Email:</td>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="payments">

    <table class="table table-hover">
        <thead>
          <tr>
            <th>Amount</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @business.payments.each do |payment| %>
            <tr>
              <td><%= number_to_currency(payment.amount, {:unit =>'PHP '}) %> </td>
              <td> <%= payment.created_at.strftime('%B %d %Y %H:%M %R') %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>


  <div class="tab-pane" id="settings">

  <div class="tab-pane" id="timeline">.ts..</div>
</div>

</div>
