<%provide(:title, "#{@business.business_name}") %>

      <div class="row">
                        <div class="col-md-3">

                            <div class="panel panel-default">
                            <div class="box-title"> Owner Details </div>
                                <div class="panel-body profile">
                                    <div class="profile-image">
                                        <%= image_tag attachment_url(@taxpayer, :profile_image, :fill, 150, 150), class: 'center-block img-responsive img-rounded'%>
                                    </div>
                                    <div class="profile-data">
                                        <h1 class="text-center"><%=@taxpayer.full_name%></h1>
                                        <span class="help-block text-center"><%=@business.address %></span>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <%=link_to 'Update Info', edit_taxpayer_path(@taxpayer), class: 'btn btn-info btn-flat btn-block'%>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-primary btn-rounded btn-block"><span class="fa fa-comments"></span> Chat</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body list-group border-bottom">
                                    <div  class="list-group-item"><%=link_to ' Settings', edit_business_path, class: 'fa fa-cog' %></div>
                                    <div  class="list-group-item"><%=link_to ' Settings', edit_business_path, class: 'fa fa-cog' %></div>
                                </div>

                            </div>

                        </div>
                               <div class="col-md-6 col-md-offset-1">

                            <div class="box box-info">
                                <div class="panel-body profile">
                                    <div class="profile-image">
                                        <%= image_tag attachment_url(@business, :logo, :fill, 150, 150), class: 'center-block img-responsive img-rounded'%>
                                    </div>
                                    <div class="profile-data">
                                        <h1 class="text-center"><%=@business.business_name %></h1>
                                        <h3 class="help-block text-center">Permit Number: <%=@business.permit_number %></h3>
                                        <p class="text-center"><%=@business.taxpayer_name %></p>
                                    </div>
                                </div>
                                <div class="panel-body">
                                <hr>
                                    <div class="col-md-12">
                                       <%unless @business.revoked? %>
                <% if @business.registered? && current_user.system_administrator? && @business.line_of_businesses.present?%>
                  <%=link_to ' Print Mayors Permit', business_path(@business, format: "pdf"), class: " btn btn-info btn-flat glyphicon glyphicon-print" %>
                <% end %>
                <% if @business.line_of_businesses.blank?%>
                  <%=link_to ' Add Line of Business', new_business_line_of_business_path(@business), class: "btn btn-default" %>
                <% else %>
                  <%=link_to 'Edit Line of Business', edit_line_of_business_path(id: @business.line_of_businesses.last.id), class: "btn btn-default" %>
                <% end %>
                <% if @business.payment_pending? || @business.delinquent?%>
                  <%=link_to 'Pay Taxes', new_business_payment_path(@business), class: "btn btn-default" %>
                <% end %>
                <%=link_to 'Edit Business', edit_business_path(@business), class: "btn btn-default" %>
                <% if @business.expired? %>
                  <%=link_to 'Renew', renew_business_path(@business), method: :get, class: 'btn btn-default'%>
                <% end %>
                </div>
              <% else %>
                <div class="alert alert-danger"> Business is revoked.</div>
              <% end %>

                                </div>

                            </div>

                        </div>

  <div class="col-md-6 col-md-offset-1">
              <div class="box box-success">
                <div class="box-header with-border">
                  <h3 class="box-title">Payments History</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">

          <% @business.payments.each do |payment| %>

              <p>
                <%= payment.created_at.strftime('%B %d %Y %H:%M ') %>
                <span class="pull-right label label-success"><%= number_to_currency(payment.amount, {:unit =>'PHP '}) %></span>
              </p>

          <% end %>

  </div>
</div>

</div>
  <%unless @business.revoked? %>
            <div class="col-md-6 col-md-offset-1">
              <div class="box box-danger">
                <div class="box-header with-border">
                  <h3 class="box-title">Registration Settings</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
        <p>After revoking a permit, it cannot be able to register again.</p>
        <div class="modal-footer">
        <%=link_to 'Revoke Permit', revoke_business_path, class: 'btn btn-danger', data: { confirm: "Are you sure you want to revoke this business permit?" } %>
        </div>


      </div>
    </div>
    <% end %>
  </div>
  </div>
