<div class='col-md-6'>
  <div class="panel panel-default">
    <div class="panel-heading">Line of Business Details</div>
    <div class="panel-body well">
      <%=simple_form_for(@line_of_business, html: {class: "form-horizontal"}) do |f| %>
        <%=f.input :description %>
        <%=f.input :psic_code %>
         <%= f.select :type_of_business, LineOfBusiness.type_of_businesses.keys.map {|type_of_business| [type_of_business.titleize, type_of_business,  class: 'form-control']} , as: :radio_buttons%>
        <%=f.association :taxes, collection: Tax.not_default_taxes,   input_html: { class: 'chosen-select form-control' }%>
        <div class="modal-footer">
          <%=f.button :submit, class: 'btn btn-primary'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
