 <div class="col-md-6 col-md-offset-2">
 <div class="box box-success">
  <div class="box-header with-border">
   <h3 class="text-success"><%=@business.business_name.capitalize %> </h3>
   <span class="help-block">Owner: <%=@business.taxpayer_name %></span>
    <span class="help-block">Address: <%=@business.address %></span>


   <hr>
  <%= simple_form_for [@business, @line_of_business], html: { class: 'form-horizontal' },
wrapper: :horizontal_form,
wrapper_mappings: {
check_boxes: :horizontal_radio_and_checkboxes,
radio_buttons: :horizontal_radio_and_checkboxes,
file: :horizontal_file_input,
boolean: :horizontal_boolean
} do |f| %>
<%=f.error_notification %>

              <%=f.input :description %>
              <%=f.input :psic_code  %>

        <div class="modal-footer">
        <% if @line_of_business.new_record? %>
        <%=f.submit 'Add Line Of Business', class: 'btn btn-primary btn-flat' %>
        <% else %>
         <%=f.submit 'Update Line of Business', class: 'btn btn-success btn-flat' %>
        <% end %>
       <%= link_to 'or Cancel', :back, class: 'btn btn-link' %>
    </div>

        <% end %>
  </div>
</div>
