<div class='col-md-6'>
  <div class="panel panel-default">
    <div class="panel-body">
      <%=simple_form_for @user do |f| %>
        <%=f.input :first_name %>
        <%=f.input :last_name %>
        <%=f.input :email %>
         <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
        <%=f.input :password %>
        <%=f.input :password_confirmation %>
        <div class="modal-footer">
          <%=f.submit%>
        </div>
      <% end %>
    </div>
  </div>
</div>
