<div class="row">
<div class="row col-md-12">
  <h2>List of Employees</h2>
<hr>
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
             <th>Name</th>
             <th>Email</th>
             <th>Role</th>
          </tr>
        </thead>
        <tbody>
           <% @users.each do |user| %>
             <tr>
               <td><%=user.full_name %></td>
               <td><%=user.email %></td>
               <td><%=user.try(:role).humanize %></td>
                <% if current_user.system_administrator? %>
               <td><%=link_to 'Edit', edit_user_path(user)%></td>
               <% end %>
             </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
    <% if current_user.system_administrator? %>
<div class="well well-sm">
  <%=link_to 'New Employee', new_user_path, class: 'btn btn-success' %>
  </div>
  <% end %>
  </div>
</div>
