<div class='col-md-6'>
  <div class="panel panel-default">
    <div class="panel-body">
      <%=simple_form_for @gross_receipt do |f| %>
        <%=f.association :line_of_business, collection: LineOfBusiness.type_of_businesses %>
        <%=f.input :gross_sales_minimum %>
        <%=f.input :gross_sales_maximum %>
        <%=f.input :amount_of_tax_per_anum %>
        <div class="modal-footer">
          <%=f.button :submit, class: 'btn btn-primary'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
