<% provide(:title, 'Taxes, Fees and Other Charges') %>

  <div class="well well-sm">
      <%=link_to ' New Gross Receipt Percentage', new_gross_receipt_path, class: 'btn btn-primary fa fa-plus'%>
    </div>

<div class="panel panel-info">
    <div class='panel-body'>
      <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Minimum</th>
            <th>Maximum</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @gross_receipts.each do |gross_receipt| %>
            <tr>
              <td><%= gross_receipt.gross_sales_minimum %></td>
              <td><%= gross_receipt.gross_sales_maximum %></td>
              <td><%= link_to "Edit |", edit_gross_receipt_path(gross_receipt),  class: 'fa fa-mark' %>
                  <%=link_to ' Delete', gross_receipt_path(gross_receipt),
                    :method => :delete,  class: 'fa fa-trash-o',
                    :data   =>{confirm: 'Are you sure you want to delete this gross receipt percentage?'}%>
             </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>
  </div>
