
<div class="row">
<div class="col-md-2">
<div class="well">
<p>Steps in Registering</p>
<ul>
    <li>Register Taxpayer</li>
    <li>Register Business</li>
    <li>Payment</li>
</ul>
</div>
</div>
<div class='col-md-10'>
  <div class="panel panel-default">
    <div class="panel-body">
    <h3>Taxpayer Details </h3>
    <hr>
      <%= simple_form_for @taxpayer, html: { class: 'form-horizontal' },
wrapper: :horizontal_form,
wrapper_mappings: {
check_boxes: :horizontal_radio_and_checkboxes,
radio_buttons: :horizontal_radio_and_checkboxes,
file: :horizontal_file_input,
boolean: :horizontal_boolean
} do |f| %>
<div class="row">
<div class="col-md-6">
        <%=f.input :first_name %>
        <%=f.input :middle_name %>
        <%=f.input :last_name %>
        </div>
        <div class="col-md-6">
        <%=f.input :email %>
        <%=f.input :mobile_number %>
        <%=f.input :tin_number %>
        </div>
        </div>

        <h3>Cedula Details</h3>
        <hr>
        <div class="row">
         <div class="col-md-6">
           <%=f.input :cedula_date_issued, as: :string, label: 'Date Issued', placeholder: 'mm/dd/yy' %>
          <%=f.input  :cedula_number %>
        </div>
         <div class="col-md-6">
          <%=f.input :cedula_place_issued %>
          </div>
        </div>

        <h3>Address Details</h3>
        <hr >
        <div class="col-md-6">
        <%=f.input :address_street, label: 'Street' %>
        <%=f.input :address_barangay, label: 'Barangay' %>
        </div>
        <div class="col-md-6">
        <%=f.input :address_municipality, label: 'Municipality', value: 'Tinoc' %>
        <%=f.input :address_province, label: 'Province' %>
        </div>
        </div>
        <div class="modal-footer">
        <% if @taxpayer.new_record? %>
        <%=f.button :submit, 'Register Taxpayer', class: 'btn btn-primary' %>
        <% else %>
         <%=f.button :submit, 'Update Taxpayer' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
