<div class="row">
  <div class='col-md-6 col-md-offset-2'>
    <div class="box box-success">
      <div class="box-header with-border">
      <%if @taxpayer.new_record? %>
        <h3 class="text-center">Register A Taxpayer </h3>
      <% else %>
        <h3 class="text-center">Update Taxpayer </h3>
      <% end %>
        <hr>
        <%= simple_form_for @taxpayer,  html: { class: 'form-horizontal', multipart: true },
          wrapper: :horizontal_form,
          wrapper_mappings: {
          check_boxes: :horizontal_radio_and_checkboxes,
          radio_buttons: :horizontal_radio_and_checkboxes,
          file: :horizontal_file_input,
          boolean: :horizontal_boolean
          } do |f| %>
            <div class="centered">
            <%if @taxpayer.profile_image.blank? %>
              <%=image_tag("missing.png", :class=>"img-polaroid center-block ") %>
              <% else %>
              <%= image_tag attachment_url(@taxpayer, :profile_image, :fill, 150, 150), class: 'center-block img-responsive img-rounded'%>
              <% end %>
              <%= f.file_field :profile_image, class: 'center-block'%>
            </div>
            <hr>
            <%=f.input :first_name, autofocus: true %>
            <%=f.input :middle_name %>
             <%=f.input :last_name %>

        <%=f.input :email %>
        <%=f.input :mobile_number %>
        <%=f.input :tin_number, label: 'TIN Number' %>


        <h3 class="text-success">Cedula Details</h3>
        <hr>

          <%=f.input  :cedula_number %>
            <%=f.input :cedula_date_issued, as: :string, input_html: { class: "datepicker" }, default: Date.current, placeholder: 'dd/mm/yyyy', label: 'Date Issued' %>


          <%=f.input :cedula_place_issued, label: 'Place Issued' %>


        <h3 class="text-success">Address Details</h3>
        <hr >

        <%=f.input :address_street, label: 'Sitio' %>
        <%=f.input :address_barangay, label: 'Barangay' %>

        <%=f.input :address_municipality, label: 'Municipality', value: 'Tinoc' %>
        <%=f.input :address_province, label: 'Province' %>

        <div class="modal-footer">
        <% if @taxpayer.new_record? %>
        <%=f.submit 'Register Taxpayer', class: 'btn btn-primary btn-flat' %>
        <% else %>
         <%=f.submit 'Update Taxpayer', class: 'btn btn-primary' %>
        <% end %>
      <% end %>
       <%= link_to 'or Cancel', root_path, class: 'btn btn-link' %>
    </div>
  </div>
  </div>
  </div>

</div>
