
<div class="col-md-12">
<% if Taxpayer.count.zero? %>
  <p class="alert alert-info">
     No taxpayers are registered yet.
    <strong><%=link_to "Register New Taxpayer", new_taxpayer_path %></strong></p>


<% else %>
<% if current_user.system_administrator? || current_user.application_officer? %>
<div class="well well-sm">
<%=link_to 'New Taxpayer', new_taxpayer_path, class: 'btn btn-success' %>
</div>
<% end %>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date Registered</th>
            <th>Address</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @taxpayers.each do |taxpayer| %>
            <tr>
            <td><%= image_tag taxpayer.image.url(:small), class: 'img-rounded' %></td>
              <td><%=link_to taxpayer.full_name, taxpayer, class: 'btn btn-link'%></td>
              <td><%=taxpayer.created_at.strftime('%B %d %Y')%></td>
              <td><%=taxpayer.address%></td>
              <td><%=taxpayer.status%></td>
              <td>
              <% if current_user.system_administrator? %>
                       <%=link_to ' Edit', edit_taxpayer_path(taxpayer)%>
                       <% end %>
            </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
   </div>
</div>
<% end %>
