<div class="row">
<div class="col-md-10 col-md-offset-1">
  <% if Taxpayer.count.zero? %>
    <p class="alert alert-info">
      No taxpayers are registered yet.
      <strong><%=link_to "Register a New Taxpayer", new_taxpayer_path %></strong>
    </p>
    <% else %>
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>List of Taxpayers <%=link_to 'New Taxpayer', new_taxpayer_path, class: 'btn btn-primary pull-right' %></h4>
          <hr />
          <div class="table-responsive">
            <table class="table table-hover table-condensed">
              <thead>
                <tr>
                  <th>NAME</th>
                  <th>ADDRESS</th>
                  <th>MOBILE NUMBER</th>
                </tr>
              </thead>
              <tbody>
                <% @taxpayers.each do |taxpayer| %>
                  <tr>
                    <td>
                      <%= attachment_image_tag(taxpayer, :profile_image, :fill, 45, 45, fallback: "default.png", class: "img-circle") %>
                      <strong> &nbsp; &nbsp; <%= link_to taxpayer.full_name.upcase, taxpayer %></strong>
                    </td>
                    <td><%= taxpayer.address %></td>
                    <td><%= taxpayer.mobile_number %></td>
                    <td>
                      <% if current_user.system_administrator? || current_user.application_officer? %>
                        <%= link_to ' Edit', edit_taxpayer_path(taxpayer) %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
