<%provide(:title, "#{@taxpayer.full_name}") %>
<div class="container">
<ul class="nav nav-tabs" role="tablist">

  <li class="active"><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
  <li><a href="#settings" role="tab" data-toggle="tab"><span class="fa fa-cog"></span> Settings</a></li>
  <li><a href="#timeline" role="tab" data-toggle="tab"><span class="fa fa-time"></span> Timeline</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="profile">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="panel">
<span class='text-center'><%= image_tag attachment_url(@taxpayer, :profile_image, :fill, 120, 120), class: 'img-rounded'%></span>
            <h1 id="profile_name"><%=@taxpayer.first_and_last_name %></h1>
            <hr />

            <div class="well well-sm">
            <% if policy(@business).new? %>
              <%=link_to 'New Business', new_taxpayer_business_path(@taxpayer), class: "btn btn-success" %>
              <% end %>

              <%=link_to 'Police Clearance', new_taxpayer_police_clearance_path(@taxpayer), class: "btn btn-primary" %>

              <% if policy(@taxpayer).edit? %>
              <%=link_to 'Edit Profile', edit_taxpayer_path(@taxpayer), class: "btn btn-warning" %>
              <% end %>


            </div>
          </div>
        </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h3>Taxpayer Details</h3>
                  <hr>

                  <p>Name: <%=@taxpayer.full_name%></p>
                  <p>Address: <%=@taxpayer.address %></p>
                  <p>Mobile Number: <%=@taxpayer.mobile_number %></p>
          </div>
          </div>
          <div class="col-md-6">
          <div class="panel panel-default">
          <div class="panel-body">
          <h3>Business Details</h3>


          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="tab-pane" id="settings">.s..</div>


  <div class="tab-pane" id="timeline">.ts..</div>
</div>
<div class="col-sm-1">
</div>
</div>
