

<div class="row">
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>
                    <%=@businesses.registered.count %>
                  </h3>
                  <p>
                    Registered Businesses
                  </p>
                </div>
                <div class="icon">
                  <i class="fa fa-check"></i>
                </div>
                <a href="/businesses" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
                  <h3>
                   <%=@businesses.delinquent.count %>
                  </h3>
                  <p>
                    Unrenewed Businesses
                  </p>
                </div>
                <div class="icon">
                  <i class="fa fa-times"></i>
                </div>
                <a href="/businesses/delinquent" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h3>
                    <%=number_to_currency(@payments.collection_amount, unit: ' P ') %>
                  </h3>
                  <p>
                    Collection
                  </p>
                </div>
                <div class="icon">
                  <i class="fa fa-money"></i>
                </div>
                <a href="/payments" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>
                    <%=@businesses.new_business.count %>
                  </h3>
                  <p>
                    New Business
                  </p>
                </div>
                <div class="icon">
                  <i class="fa fa-users"></i>
                </div>
                <a href="/businesses/new_business" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div><!-- ./col -->
              <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-purple">
                <div class="inner">
                  <h3>
                    <%=@businesses.percentage_of_business_owned_by_women%><sup style="font-size: 20px">%</sup>
                  </h3>
                  <p>
                    Owned By Women (<%=@businesses.owned_by_women.count %>)
                  </p>
                </div>
                <div class="icon">
                  <i class="fa fa-female"></i>
                </div>
                <a href="/businesses/owned_by_women" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div><!-- ./col -->
          </div><!-- /.row -->
