<div class="col-md-4 col-md-offset-4">
<div class="panel panel-default">
<div class="panel-heading">Document Details</div>
<div class="panel-body">
<%=simple_form_for @document  do |f| %>
<%=f.input :description %>
<%=f.input :office %>
<%=f.input :default, as: :boolean, label: 'Default Document' %>
<div class="modal-footer">
<%=f.submit class: 'btn btn-primary' %>
</div>
<% end %>
</div>
</div>
</div>
