
<div class="col-md-5 col-md-offset-3">

<div class="well">

<%= simple_form_for(resource, as: resource_name, :url => session_path(resource_name),
       wrapper_mappings: {boolean: :vertical_boolean }) do |f| %>
       <%= f.input :email, label: false do %>
 <%=image_tag("logo.png", height: 120, width: 120, class: 'img-circle img-responsive center-block') %>
 <span class="help-block text-center">Business Permits and Licensing System</span>


  <div class="input-group">
    <%= f.input_field :email, class: 'form-control input-lg', placeholder: 'Email', autofocus: true %>
    <span class="input-group-addon glyphicon glyphicon-user"></span>
  </div>
  <% end %>

    <%= f.input :password, label: false do  %>
    <div class="input-group">
      <%=f.input_field :password, class: 'form-control input-lg', placeholder: 'Password' %>
      <span class="input-group-addon glyphicon glyphicon-lock"></span>
    </div>
    <% end %>

    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    <hr>
    <%= f.submit "Sign in", class: "btn btn-block btn-success btn-lg" %>
<% end %>
<br>
</div>

</div>

