<div class='col-md-4 col-md-offset-4'>
  <div class="panel panel-default">
    <div class="panel-heading">Payment Breakdown </div>
    <div class="panel-body">

       <p class="label-info-tax">Taxes, Fees and Other Charges</p>
    <% @business.line_of_businesses.each do |line_of_businesses| %>

        <span class="line-of-business"><%=line_of_businesses.description %></span>

      <%line_of_businesses.taxes.each do |tax| %>
      <ul>
      <li><%=tax.description %>
      <span class="pull-right"><%=number_to_currency(tax.amount, precision: 2, unit: '') %></span></li>
      </ul>
      <% end %>
    <% end %>
    <hr>
    <p>Subtotal: <span class="pull-right"><%=@payment.subtotal %></span></p>
    <p>Exemptions: <span class="pull-right"><%=@payment.exemption %></span></p>
    <p>Surcharges: <span class="pull-right"><%=@payment.surcharge %></span></p>
    <hr>
        <p>AMOUNT TO PAY <span class="pull-right"><%=@payment.total %></span></p>
        <hr>

      <%=simple_form_for [@business, @payment] do |f| %>

        <%=f.input :official_receipt_number %>
        <div class="modal-footer">
          <%=f.submit 'Register Payment ', class: 'btn btn-primary'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
