<div class='col-md-6'>
  <div class="panel panel-default">
    <div class="panel-heading">Payment Breakdown </div>
    <div class="panel-body">
    <p class="label-info-tax">Default Taxes</p>
    <%Tax.default_taxes.each do |tax| %>
    <ul>
      <li><%=tax.description %>
      <span class="pull-right"><%=number_to_currency(tax.amount, precision: 2, unit: '') %></span></li>
      </ul>
      <% end %>
      <hr>
       <p class="label-info-tax">Business Taxes</p>
    <% @business.line_of_businesses.each do |line_of_businesses| %>

        <span class="line-of-business"><%=line_of_businesses.description %></span>

      <%line_of_businesses.taxes.each do |tax| %>
      <ul>
      <li><%=tax.description %>
      <span class="pull-right"><%=number_to_currency(tax.amount, precision: 2, unit: '') %></span></li>
      </ul>
      <% end %>
    <% end %>
    <hr>
      <%=simple_form_for [@business, @payment] do |f| %>
        <%=f.input :amount_to_pay %>
        <div class="modal-footer">
          <%=f.button :submit, class: 'btn btn-primary'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
