<%provide(:title, "Payments") %>
<% if @payments.count.zero? %>
  <p class="alert alert-info">No Payments have been registered yet.</p>
<% else %>
  <div class="col-md-10 col-md-offset-1">
         <div class="box box-success">
                <div class="box-header with-border">
                <h3 class="box-title">All Payments</h3>
                  <div class="box-tools pull-right">

                    <%=form_tag payments_path, method: :get do %>
      <div class="input-group">
        <%=text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Search...' %>
        <span class="input-group-btn">
          <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
            <i class="fa fa-search"></i>
            <% end %>
               </span>
      </div>
      <% end %>
      </div>

                  </div>
      <div class="box-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th> Taxpayer</th>
                <th>Date of Payment</th>
                <th>Amount</th>
                <th>O.R. Number</th>
                <th>Collecting Officer</th>
              </tr>
            </thead>
            <tbody>
              <% @payments.each do |payment| %>
                <tr>
                  <td><%=payment.business.try(:taxpayer_name)%></td>
                  <td><%=payment.created_at.strftime('%B %d %Y')%></td>
                  <td class="pull-right"><%=number_to_currency(payment.amount, unit: ' P ' )%></td>
                  <td><%=payment.official_receipt_number %></td>
                  <td><%=payment.collecting_officer%></td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>
