<div class='col-md-6'>
  <div class="panel panel-default">
    <div class="panel-body">
      <%=simple_form_for @tax do |f| %>
        <%=f.input :description %>
        <%=f.input :amount %>
        <%= f.input :default, as: :boolean %>
        <div class="modal-footer">
          <%=f.button :submit, class: 'btn btn-primary'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
