<% provide(:title, 'Taxes, Fees and Other Charges') %>
<% if Tax.count.zero? %>
  <p class="alert alert-info">No taxes found.<small><%=link_to 'Create New Tax', new_tax_path, class: 'btn btn-link' %></small></p>
<% else %>
  <div class="well well-sm">
      <%=link_to ' New Tax', new_tax_path, class: 'btn btn-primary fa fa-plus'%>
    </div>

<div class="panel panel-info">
    <div class='panel-body'>
      <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @taxes.each do |tax| %>
            <tr>
              <td><%= tax.description %></td>
              <td><%= number_to_currency(tax.amount, {:unit =>'PHP '}) %> </td>
              <td><%= link_to "Edit |", edit_tax_path(tax),  class: 'fa fa-mark' %>
                  <%=link_to ' Delete', tax_path(tax),
                    :method => :delete,  class: 'fa fa-trash-o',
                    :data   =>{confirm: 'Are you sure you want to delete this tax?'}%>
             </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>
  </div>
  <% end %>

