<aside class="main-sidebar">
  <section class="sidebar">
  <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
         <% if current_user.profile_image %>
           <%=link_to (image_tag attachment_url(current_user, :profile_image, :fill, 40, 40), class: 'img-square'), user_path(current_user) %>
         <% end %>
      </div>
      <div class="pull-left info">
        <p><%= link_to current_user.first_name, user_path(current_user) %></p>
        <a href="#"><%=current_user.role.to_s.titleize %></a>
      </div>
    </div>
    <!-- search form -->
    <%=form_tag taxpayers_path, class: 'sidebar-form', method: :get do %>
      <div class="input-group">
        <%=text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Search...' %>
        <span class="input-group-btn">
          <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
            <i class="fa fa-search"></i>
          <% end %>
        </span>
      </div>
    <% end %>
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <a href="/dashboard">
          <i class="fa fa-home"></i> <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/taxpayers">
          <i class="fa fa-users"></i> <span>Taxpayers</span>
        </a>
      </li>

      <li>
        <a href="/businesses">
          <i class="fa fa-th"></i> <span>Businesses</span>
        </a>
      </li>

<li class="header">SETTINGS</li>
<li>
  <a href="/users">
    <i class="fa fa-user"></i> <span>Employee Access</span>
  </a>
</li>

        </ul>
      </li>
    </ul>
  </section>
</aside>
